
    body {
        background-color: rgb(143, 210, 146);
        text-decoration: none;
     }

     .header{
        display: flex;
        justify-content: space-between;
        padding: 50px;
        background: #094f29;
        color:rgb(20, 241, 57);
        font-family:  sans-serif;
    }

      .header-section {
       display: flex;
       align-items: center;
       padding: 10px 5px;
       font-size: 40px;
    }

      .header-sections {
       display: flex;
       align-items: center;
       padding: 10px 5px;
       font-size: 30px;
    }

     h1 {
        font-size: 5rem;
        font-weight: bold;
        text-align: center;
    }
    
    .header-item {
        padding: 10px 15px;
        font-size: 20px;
        margin-left: 5px;
    }
    
    .header-item:hover {
        background-color:#FF9900;
        border-radius:50px;
    }

    .header-logo {
        font-weight: bold;
    }

    .header-button {
        cursor: pointer;
    }

    .image-container {
        padding-top: 50px;
    }

    .input-container {
         display: flex;
         flex-direction: column;
         background-color: rgb(250, 242, 242);
         text-align: center;
         padding: 3rem;
         text-align: center;
         border-radius: 2rem;
    }
    
    .inputs {
        font-size: 30px;
        padding: 10px;
        height: 40px;
        border-radius: 25px;
        font-size: 30px;
        margin: auto;
        text-align: center;
    }

    form p {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
    }
      
   .footer-1 {
        display: flex;
        padding: 30px;
        gap: 80px;
        flex-direction: row;
        cursor: pointer;   
    }  

   .footer-2 {
        text-align: center;
    } 

    button {
        margin: 40px;
        padding: 10px 50px;
        background-color: green;
        color: white;
        font-size: 40px;
     }

    p {
        text-transform: uppercase;
        font-weight: bold;
    }

    select{
       font-size: 25px;
       text-align: center;
    }

    @media (max-width:1024px){
      .header {
        padding: 2vw;
      }
      h1 {
        font-size: 2.3rem;
      }
      .input-container{
        padding: 0;
        width: 50%;
        margin: auto;
        min-width: 580px;
      }
      .inputs{
        margin: auto;
        padding: 0;
        margin-bottom: 40px;
        height: 1.6rem;
      }
    }

    @media only screen and (max-width:600px){
        .header{ 
         padding: 8px;
        }
        .header-section{
          font-size: 13px;
          padding: 10px 20px;
        }
        .header-item {
           font-size: 12px; 
        } 
        h1 {
         font-size: 20px;
        }
        .inputs{
           max-height: 20px;
           margin: auto -1rem;
           width: 95%;
           font-size: 20px;
           padding: .4rem;
        }
        .input-container {
           padding: 1rem;
           width: 100%;
           min-width: auto;
           margin: 0 -1rem;
           border-radius: 0;
        }
        .p-styles{
           font-size: 1rem;
           margin: 40px;
        }
       .header-sections {
           font-size: 10px;
           padding: 5px;
       }
       .footer-1{
           display: flex;   
           gap: 6px;
           font-size: 10px;
           flex-flow: Wrap;
           padding: 2px;
           margin: 20px 3px;
           align-items: start;
           flex-wrap: wrap;
           justify-content: space-between;
        }
        h4 {
            font-size: 12px; 
        }
    }
    
