
    body {
        background-color: rgb(143, 210, 146);
        text-decoration: none;
     }

     .header{
        display: flex;
        justify-content: space-between;
        padding: 50px;
        background: #094f29;
        color:rgb(20, 241, 57);
        font-family:  sans-serif;
    }

      .header-section {
       display: flex;
       align-items: center;
       padding: 10px 5px;
       font-size: 40px;
    }

      .header-sections {
       display: flex;
       align-items: center;
       padding: 10px 5px;
       font-size: 30px;
    }

     h1 {
        font-size: 5rem;
        font-weight: bold;
        text-align: center;
    }
    
    .header-item {
        padding: 10px 15px;
        font-size: 20px;
        margin-left: 5px;
    }
    
    .header-item:hover {
        background-color:#FF9900;
        border-radius:50px;
    }

    .header-logo {
        font-weight: bold;
    }

    .header-button {
        cursor: pointer;
    }

    .image-container {
        padding-top: 50px;
    }

    .input-container {
         display: flex;
         flex-direction: column;
         background-color: rgb(250, 242, 242);
         text-align: center;
         padding: 3rem;
         text-align: center;
         border-radius: 2rem;
    }
    
    .inputs {
        font-size: 30px;
        padding: 10px;
        height: 40px;
        border-radius: 25px;
}

form p {
    text-transform: uppercase;
    font-weight: bold;
}
    
.footer-1 {
    display: flex;
    padding: 30px;
    gap: 80px;
    flex-direction: row;
    cursor: pointer;
}  

.footer-2 {
    text-align: center;
} 

button {
   margin: 40px;
   padding: 10px 50px;
   background-color: green;
   color: white;
   font-size: 40px;
}





